
:root {
    --primary-color: #d4bfb2;      /* Soft Brown */
    --text-color: #5D4037;       /* Dark Brown */
    --background-color: #FFF8E1; /* Cream */
    --header-color: #b2a09d;     /* Deep Brown */
    --accent-color: #BC8F8F;     /* Rosy Brown */
}

/* 2. BASIC SETUP */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

/* 3. HEADER */
header {
    background-color: var(--header-color);
    color: #F5F5F5;
    padding: 40px 20px;
    text-align: center;
}

header h1 {
    font-size: 80px;      
    margin-bottom: 10px;  
}


header p {
    font-size: 24px;      
    font-weight: normal;  
}
/* 4. NAVIGATION */
nav {
    background-color: var(--text-color);
    text-align: center;
    padding: 15px 0;
    position: sticky; 
    top: 0;
    z-index: 1000;
}

nav a {
    color: #FFF8E1;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
}

nav a:hover {
    color: var(--primary-color);
}

nav a[href="login.html"] {
    float: right;
    background-color: var(--header-color);
    padding: 8px 15px;
    border-radius: 5px;
    margin-right: 20px;
    border: 1px solid var(--primary-color);
    margin-top: -5px; 
}

nav a[href="login.html"]:hover {
    background-color: var(--accent-color);
    color: white;
}

/* 5. HERO SECTION (Welcome Box) */
.hero {
    text-align: center;
    padding: 100px 20px;
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                      url('../Images/hero-bg.jpeg');
    
    background-size: cover;
    background-position: center;
    color: white; 
    border-radius: 20px;
}

.hero h2 {
    font-size: 2.8em;
    margin-top: 0;
}

.hero h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

/* 6. BUTTON */
button {
    background-color: var(--header-color);
    color: white;
    border: none;
    padding: 15px 40px;
    font-size: 1.1em;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s;
    font-weight: bold;
}

button:hover {
    background-color: var(--accent-color);
    transform: translateY(-3px); 
}

/* 7. FOOTER */
footer {
    text-align: center;
    padding: 30px;
    background-color: var(--header-color);
    color: white;
    margin-top: 50px;
}